<aside class="aside-menu">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a tab class="nav-link active" data-toggle="tab" href="#timeline" role="tab"><i class="icon-list"></i></a>
    </li>

  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="timeline" role="tabpanel">
      <div class="callout m-0 py-2 text-muted text-center bg-light text-uppercase">
        <small><b>All events</b></small>
      </div>
      <hr class="transparent mx-3 my-0">
      <div ng-repeat="note in notes" class="callout callout-warning m-0 py-3">
          <div>
              <strong>{{note.title}}</strong>
          </div>
          <small class="text-muted mr-3">Event  <i class="icon-calendar"></i>&nbsp;{{note.eventDate +"Z" | date:"dd.MM.yyyy 'at' H:mm"}}</small>
          <br />
          <small class="text-muted mr-3">Remind at &nbsp;{{note.remindDate +"Z" | date:"dd.MM.yyyy 'at' H:mm"}}</small>
          <br />
          <small class="text-muted"><i class="icon-location-pin"></i>&nbsp;{{note.place}} </small>
          <br />
          <small class="text-muted">&nbsp;{{note.decription}} </small>
          <a href="#" class="text-muted" ng-click="DeleteNote(note.id)"><i class="icon-trash"></i>&nbsp;</a>
      </div>
    </div>
   
  </div>
</aside>