<div class="animated fadeIn">
    {{time}}

    <div ng-if="editNote" class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <strong>Reminder </strong> 
                </div>
                <form name="noteForm">
                    <div class="card-body">
                        <div class="form-group">
                            <label class="form-col-form-label">Event date</label>
                            <input class="form-control" type="datetime-local" id="exampleInput" name="input" ng-model="note.eventDate"
                                   placeholder="yyyy-MM-ddTHH:mm:ss" min="{{minDate}}" required />
                        </div>
                        <div class="form-group">
                            <label>Remind at</label>
                            <input class="form-control" type="datetime-local" id="exampleInput" name="input" ng-model="note.remindDate"
                                   placeholder="yyyy-MM-ddTHH:mm:ss" min="{{minDate}}" required />
                        </div>
                        <div class="form-group">
                            <label class="form-col-form-label" for="title">Title</label>
                            <input type="text" class="form-control" id="inputSuccess1" ng-model="note.title" required>
                        </div>
                        <div class="form-group">
                            <label class="form-col-form-label" for="description">Description</label>
                            <textarea class="form-control" id="inputError1" ng-model="note.description" required></textarea>
                    
                        </div>
                        <div class="form-group">
                            <label class="form-col-form-label" for="place">Place</label>
                            <input type="text" class="form-control" id="place" ng-model="note.place" required>
                        </div>
                        <button ng-disabled="noteForm.$invalid" class="btn btn-primary" ng-click="SaveNote()">Save</button>
                        <button ng-disabled="!noteForm.$invalid" class="btn btn-light" ng-click="CloseForm()">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div ng-if="showNote(note)" ng-repeat="note in notes" class="col-sm-6 col-lg-3">
            <div class="card text-white bg-primary note">
                <div class="card-body pb-0">
                    <div class="btn-group float-right">
                        <button type="button" class="btn btn-transparent dropdown-toggle p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="icon-settings"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#" ng-click="DeleteNote(note.id)">Delete</a>
                            <a class="dropdown-item" href="#" ng-click="UpdateNote(note)">Update</a>
                        </div>
                    </div>
                    <h4 class="mb-0">{{note.eventDate +"Z" | date:"dd.MM.yyyy 'at' H:mm"}}</h4>
                    <p>{{note.title}}</p>
                    <p>{{note.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
